{#  Auth Parent Layout
	==============================================
#}

{# Auth Wrapper #}
<div class="app-auth-wrapper">
    <div class="app-container">
		{# SubHeader account (logo) #}
		{{ partial("templates/headerBasic") }}
    	{# content #}
		{{ get_content() }}
	</div>
</div>
