/* ---------------------------------------------------------------------------------------
	Analytics pages SCSS rules
---------------------------------------------------------------------------------------- */

//++ Index Wrapper
div.app-analytics-wrapper {
	height: auto;
	//childs
	h4, h5 {
		padding-bottom: rem-calc(6);
		border-bottom: 1px solid #ccc;
	}
	select {
		max-width: rem-calc(300);
		margin: rem-calc(5) 0;
	}
	div.event-selector { margin-bottom: rem-calc(20); }
	div.tickets-brief {
		//childs
		&.margin-top { margin-top: rem-calc(20); }
		div.row { margin: 0; }
		div.head {
			padding: rem-calc(5);
			border-bottom: 1px solid #999;
		}
		div.cell {
			padding: rem-calc(5);
			border-top: 1px solid #ddd;
			&.last {
				background-color: #efefef;
				color: #666;
			}
		}
	}
	div.tickets-sales {
		margin-top: rem-calc(30);
		background: #fff;
		> div {
			padding: rem-calc(30 0);
		}
	}
	canvas {
		width: 100%;
		min-height: rem-calc(400);
	}
}
