/**
 * Common Form styles
 */

/* Mixins
---------------------------------------------------------------------------------------- */

//mixin for app account button rules
@mixin app-account-button($bg_color, $text_color) {
	display:block;
	width: 100%;
	min-height: rem-calc(37);
	position: relative;
	padding: rem-calc(9) 0;
	border-radius: rem-calc(20);
	background-color: $bg_color;
	color: $text_color;
	font-size: rem-calc(14);
	line-height: normal;
	text-align:center;
	text-transform: uppercase;
	//event
	&:hover, &:active, &:focus {
		background-color: scale-color($bg_color, $lightness: -30%);
		color: scale-color($text_color, $lightness: 30%);
	}
	//childs
	img {
		position: absolute;
		top: rem-calc(6);
		left: rem-calc(8);
		width: rem-calc(26);
	}
}
//mixin for app transparent button
@mixin app-transparent-button() {
	background: rgba(0, 0, 0, 0.8);
    color: #fff;
	border-radius: rem-calc(135);
	border: rem-calc(2) solid #000;
	font-family: $app_secondary_font;
	line-height: normal;
	text-transform: uppercase;
    //event
	&:hover, &:active, &:focus{
		background: $app_secondary_color;
		color: #fff;
        border: rem-calc(2) solid #fff;
	}
}

/* Placeholders
---------------------------------------------------------------------------------------- */

//small button
%app-button-small {
    padding: rem-calc(10 24);
	color: #fff;
    border-radius: rem-calc(8);
    font-family: $app_secondary_font;
    font-size: rem-calc(14);
	line-height: normal;
    text-transform: uppercase;
}

%app-black-box {
	@include app-bg-color-opacity();
	border-radius: rem-calc(12);
}

/* Classes
---------------------------------------------------------------------------------------- */

//buttons
.app-btn {
	@include app-account-button($app_secondary_color, #fff);
	padding-left: rem-calc(9);
    &.gray { background: $app_btn_gray_color; }
}
.app-btn-fb.styled {
	@include app-account-button($app_facebook_color, #fff);
	padding-left: rem-calc(13);
	&:disabled, &:disabled:hover {
		background: #999;
		color: #fff;
	}
}
.app-btn-transparent {
	@include app-transparent-button();
    &.gray { background: $app_btn_gray_color; }
}
//general button wrappers
.app-btn-wrapper {
	margin: rem-calc(30) 0;
	button.gray { background: #373737; }
}
.app-social-img {
    @extend %app-inline-block;
    @include app-loading-image(transparent, 2, rem-calc(28), rem-calc(19));
	background-position: 66% center;
    width: rem-calc(120);
    height: rem-calc(120);
	&.no-loading { background: transparent; }
    img {
        border-radius: rem-calc(135);
        width: 100%;
		min-height: rem-calc(120);
		//max-width: rem-calc(120);
        margin-left: rem-calc(18);
        border: 4px solid rgba(255, 255, 255, 0.3);
    }
}
.app-btn-small {
	margin: 0;
	width: rem-calc(96);
	padding: rem-calc(10 14);
	border-radius: rem-calc(20);
	background: $app_btn_gray_color;
	font-size: rem-calc(14);
	&.extended { margin-right: rem-calc(8); }
	&.rightest { background: scale-color(#ADA505, $lightness: -10%); }
}
//common classes

.app-section-title {
	padding-bottom: rem-calc(6);
	border-bottom: rem-calc(1) solid $app_secondary_color;
	color: #fff;
	font-size: rem-calc(22);
	span {
		display: block;
		font-size: rem-calc(18);
		text-transform: uppercase;
	}
}

a.app-see-more {
	display: inline-block;
	font-size: rem-calc(12);
	padding-bottom: rem-calc(10);
	&:hover { color: $app_quaternary_color; }
}

div.app-small-print-wapper {
	padding: rem-calc(0 10 10 10);
	font-size: rem-calc(12);
	color: #aaa;
	span { display:block; }
	i { color: #ddd; }
	strong {
		display: block;
		color: scale-color(#ADA505, $lightness: 10%);
	}
}

//forms
.app-form {
	//inputs
	input[type="email"], input[type="password"], input[type="text"] {
		border-radius: rem-calc(20);
		&:hover { border-color: #444; }
	}
	input[type="radio"] { cursor: pointer; }
	//textarea
	textarea {
		border-radius: rem-calc(20);
		min-height: rem-calc(90);
	}
	//select
	select {
		min-width: rem-calc(54);
		border-radius: rem-calc(8);
		color: #A3A3A3;
	}
	label {
		color: #A3A3A3;
		&.cursor-pointer { cursor: pointer; }
	}
	ul, li { padding-bottom: 0; }
	//error messages
	small.form-error {
		display: block;
		clear: both;
		position: relative;
		top: rem-calc(-8);
		padding: rem-calc(0 8);
		font-style: italic;
		color: $alert-color;
		text-align: center;
	}
    //other texts
	p.agreement {
		padding-top: rem-calc(12);
		font-size: rem-calc(12);
	}
}

//common blocks
.app-block {
	&.modal-size {
		max-width: $app_modal_max_width !important;
		h4 {
			padding: rem-calc(10) 0;
			color: #666 !important;
		}
	}
	&.recaptcha-size { max-width: $app_recaptcha_max_width !important; }
	div.recaptcha {
		padding: 0 rem-calc(18);
		margin-bottom: rem-calc(2);
		//MediaQueries
		@include breakpoint(medium only) {
			&.left-padding { padding-left: rem-calc(8); }
		}
	}
	p span {
		color: $app_secondary_color;
		font-weight: bold;
	}
	button {
		padding-left: rem-calc(4);
		padding-right: rem-calc(4);
	}
}

//invoice email wrapper
div.app-invoice-email-box {
    margin: rem-calc(20) 0;
    padding: rem-calc(8) 0;
    border-radius: rem-calc(6);
    background: #5A8715;
    color: #fff;
    span {
        @extend %app-inline-block;
        padding: rem-calc(8 10 0 8);
    }
    input {
        @extend %app-inline-block;
        margin: rem-calc(5 0 10 0);
        max-width: rem-calc(210);
        height: rem-calc(32);
        padding: rem-calc(3) rem-calc(10);
        font-size: rem-calc(12);
		//MediaQueries
		@include breakpoint(small only) {
			margin: rem-calc(10 0 5 0);
		}
    }
}

//embed video element class
div.app-embed-container {
	position: relative;
	padding-bottom: 56.25%; //16:9 ratio
	height: 0;
	overflow: hidden;
	max-width: 100%;
	//childs
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//separator line
hr {
	margin: rem-calc(30) 0;
	height: rem-calc(1);
	line-height: rem-calc(1);
	font-family: Helvetica, Roboto, Arial, sans-serif;
	font-size: rem-calc(12);
	text-align: center;
	//ensure 1px gap between borders
	box-sizing: content-box;
	&.border { border: rem-calc(1) solid #999; }
	&:after {
		//content: "§";
		color: #999;
		display: inline;
		padding: 0 rem-calc(8);
		background: #fff;
	}
	//langs
	&.es:after { content: "o"; }
	&.en:after { content: "or"; }
	//other symbols
	&.ss:after { content: "§"; }
	&.empty:after {
		content: "";
		background: transparent;
	}
}
//opera doesn't render correctly. hide section sign
x:-o-prefocus, hr:after { content: ""; }
