/* ---------------------------------------------------------------------------------------
	Layout SCSS rules
---------------------------------------------------------------------------------------- */

/* Wrappers
---------------------------------------------------------------------------------------- */

body {
	height: 100%;
}

//root body wrapper
#wrapper {
    background: #fff;
	min-height: 100%;
	//childs
	> div {
		display: table;
		width: 100%;
		height: 100%;
	}
}

//full space
.app-container-wrapper {
	@include app-fill-space($app_header_height);
    > div { padding: rem-calc(30); }
}

//content
.app-container {
	display: table-cell;
    vertical-align: middle;
}

/* Header
---------------------------------------------------------------------------------------- */

header {
	display: block;
	background: transparent;
    height: $app_header_height;
    background: #ddd;
	> nav {
		//childs
		> div {
			@extend %app-inline-block;
            padding: rem-calc(20) 0;
		}
        a, img { display: inline-block; }
		//header logo
		div.app-left {
			width: 68%;
			img {
				max-width: rem-calc(160);
				margin-left: rem-calc(26);
			}
		}
		div.app-right { width: 32%; }
		a:hover { opacity: 0.9; }
        //MediaQueries
        @include breakpoint(medium only) {
            div.app-left { width: 35%; }
        	div.app-right { width: 65%; }
        }
        @include breakpoint(small only) {
            div.app-left img { margin-left: rem-calc(8); }
    		a.sign-in { margin: 0 rem-calc(12); }
        }
	}
    div.logged-out {
        //login controls
        img {
            max-width: rem-calc(34);
            margin-right: rem-calc(8);
        }
    }
}

/* Footer
---------------------------------------------------------------------------------------- */

footer {
	display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: $app_footer_height;
	background: #ddd;
	text-align: right;
	//childs
	ul {
		display: inline-block;
		margin: rem-calc(10 20 10 0);
		&.centered { margin: rem-calc(10) auto; }
	}
	li {
		display: inline-block;
		&.dot {
			padding: 0 rem-calc(8);
			font-size: rem-calc(10);
			color: #666;
		}
	}
	a, span {
		font-size: rem-calc(12);
		color: #222;
		text-transform: uppercase;
	}
	a.marked {
		color: $app_secondary_color;
		&:hover { color: #fff; };
	}
	strong { color: #222; }
}
//for legacy browsers
div.app-footer-legacy {
    //no rem for legacy browsers, use px unit instead
    height: 40px !important;
	padding: 10px;
	color: #888;
	span { color: $app_secondary_color;}
}
