/* ---------------------------------------------------------------------------------------
	Settings SCSS rules. Foundation 6.1.2
---------------------------------------------------------------------------------------- */

/* App Vars
---------------------------------------------------------------------------------------- */

//foundation utils [functions & mixins]
@import 'util/util';

//app
$app_name : "LiveOn";

//fonts
$app_fonts_dir	    : "../fonts/";
$app_primary_font   : OpenSans, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$app_secondary_font : OpenSans-Light, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

//font-face (path ../fonts/<lower_case_name>/<font_real_name>.tff)
@each $font-face in "OpenSans", "OpenSans-Light" {
    @font-face {
          font-family: $font-face; font-style: normal; font-weight: normal;
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot'); /* IE9 Compat Modes */
          src: url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff2') format('woff2'), /* Super Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.woff') format('woff'), /* Pretty Modern Browsers */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.ttf')  format('truetype'), /* Safari, Android, iOS */
               url('#{$app_fonts_dir}#{to-lower-case($font-face)}/#{to-lower-case($font-face)}.svg#open_sansregular') format('svg'); /* Legacy iOS */
    }
}

//colors
$app_body_bg_color 	  : #000;
$app_primary_color    : #999;
$app_secondary_color  : #85C11E;
$app_tertiary_color   : #333;
$app_quaternary_color : #628F14;
$app_facebook_color   : #354E91;
$app_btn_gray_color   : #373737;

//sizes
$app_modal_max_width 	 : rem-calc(378); //Foundation modals
$app_recaptcha_max_width : rem-calc(303);

$app_header_height       : rem-calc(57);
$app_footer_height       : rem-calc(25);  //el footer debe quedar bottom en la vista (no genera scroll)
$app_body_bottom_padding : rem-calc(20);

/* Foundation Vars
---------------------------------------------------------------------------------------- */

// Global
// ---------

$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

@include add-foundation-colors;

// Typography
// ---------

$body-background: $app_body_bg_color;
$body-font-color: $app_primary_color;
$body-font-family: $app_primary_font;
$body-antialiased: false;

$anchor-color: $app_secondary_color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

// Table
// ---------

$table-background: transparent;
