/* App mailing styles */

//vars
$primary_color : #85C11E;

/** generals **/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
}

html {
    height: 100%;
}

body {
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    background: #fff;
    color: #222;
}

p {
    line-height: 24px;
    padding: 2px 10px;
}

a {
    color: $primary_color;
    text-decoration: none;
    &:visited, &:active { color: $primary_color; }
    &:hover { color: #666; }
}

/* helpers */
.text-center {
    text-align: center;
}

/* contents */
div.body-wrapper {
    max-width: 600px; /* 37.5/16 */
    overflow-x: hidden;
    //childs
    div.content {
        border-radius: 12px;
    }
}

div.header {
    padding: 25px;
    img {
        width: 160px;
        margin-left: 10px;
    }
}

div.poster {
    margin-bottom: 30px;
    img { width:100%; }
}

div.text-wrapper {
    margin: 20px 0;
    //childs
    p {
        margin: 10px 0;
        font-size: 14px;
    }
    span { color: $primary_color; }
    img.pdf {
        width: 18px;
        margin: 0 10px 0 0;
    }
    .alt { margin-bottom: 30px; }
}

div.ticket-details {
    padding: 20px 10px 0 10px;
}

/* message */
div.message {
	margin: 0 6px 11px 6px;
	padding-bottom: 8px;
	&.padding {
		padding-left: 30px;
		padding-right: 30px;
	}
	div {
		&.details { margin-top: 52px; }
		&.title {
			padding: 8px;
			border-bottom: 1px solid $primary_color;
			font-size: 22px;
            .subtitle {
                margin-top: 5px;
                font-size: 13px;
            }
		}
		&.button-wrapper {
			margin: 40px auto;
			text-align: center;
		}
		&.buttons-wrapper { margin: 20px 4px 40px 10px; }
	}
	table.event {
        margin-top: 20px;
        td { padding:10px 0; }
		img {
			width: 25px;
			height: 25px;
		}
		a { font-size: 16px; }
		span {
			font-size: 16px;
			&.name { font-size: 16px; }
			&.symbol {
				margin: 0 5px;
				font-size: 13px;
				color: #666;
			}
		}
		p.caption {
            padding: 0;
            color: #666;
            a {
                line-height: 20px;
                font-size: 12px;
            }
            &.marked { line-height: 18px; }
			&.gray a { color: #666; }
		}
	}
	a.button {
		padding: 12px 16px;
		border: 1px solid #444;
        color: #444;
		border-radius: 12px;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		&.no-margin { margin: 0; }
		&:hover {
			color: $primary_color;
			border: 1px solid $primary_color;
			span { color: #999; }
		}
	}
	p.marked { font-size: 14px; }
}

/* footer */
div.footer {
    margin-top: 32px;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    p.app-name span { color: $primary_color; }
    span { color: $primary_color; }
    a {
        color: #444;
        &:visited, &:active { color: #444; }
        &:hover { color: #666; }
    }
}
