/* ---------------------------------------------------------------------------------------
	Account pages SCSS rules
---------------------------------------------------------------------------------------- */

/* Vars, Placeholders & Minxins
---------------------------------------------------------------------------------------- */
$app_auth_block_width : rem-calc(280);
/* Elements
---------------------------------------------------------------------------------------- */
//++ Auth Wrapper
div.app-auth-wrapper {
	@include app-fill-space(0);
	background: #fff;
	//childs
	div.logo {
		padding: rem-calc(40 30);
		img {
            margin-top: rem-calc(10);
            width: $app_auth_block_width;
        }
	}
}

//++ Auth modules wrapper
div.app-sign-in-wrapper,
div.app-sign-up-wrapper,
div.app-password-wrapper {
	max-width: $app_auth_block_width;
	margin: rem-calc(20) auto;
	//childs
	h6 {
		color: $app_primary_color;
		margin-bottom: rem-calc(20);
	}
	div.links {
		margin-top: rem-calc(20);
		//childs
		a {
			display: block;
			text-decoration: underline;
			&.forgot-account {
				font-size: rem-calc(12);
				color: $app_primary_color;
			}
			&.forgot-account:hover { color: $app_tertiary_color; }
		}
	}
	.margin-top { margin-top: rem-calc(30); }
	span.marked {
		color: $app_secondary_color;
		font-weight: bold;
	}
}

//++ Account wrapper
div.app-account-wrapper {
    @include app-fill-space($app_header_height);
    padding-bottom: 0 !important; //fixed scroll padding considering footer
    background: #343434;
    @include app-bg-cover('../images/bgs/bg-liveon-dark.jpg');
}

//++ Account contents
div.app-account-content {
    min-height: 100%;
    margin: 0 auto;
    padding: 0 rem-calc(10);
    //childs
	div.socials {
	    div.facebook {
	        max-width: rem-calc(550);
	        margin: rem-calc(20) auto;
	        padding: rem-calc(8 4);
	        border-radius: rem-calc(6);
	        background-color: #181818;
	        color: #777;
			div.sync-text {
				padding: rem-calc(4 0 0 6);
				font-size: rem-calc(18);
				letter-spacing: 2px;
			}
	        &.active {
	            background-color: #354D95;
	            color: #fff;
	        }
	        &.loading {
	            background-color: #333;
	            color: #ddd;
	        }
	        div.switch {
	            position: relative;
	            top: rem-calc(2);
	            margin-bottom: 0;
	        }
			//Media Queries
			@include breakpoint(small only) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		div.facebook-label {
			img {
				max-width: rem-calc(40);
				background-color: $app_facebook_color;
				border-radius: 50%;
			}
			span {
				margin-left: rem-calc(8);
				color: #fff;
			}
		}
    }
    p {
		color:#fff;
		//childs
		strong {
			color: $app_secondary_color;
			&.fb { color: scale-color(#354D95, $lightness: 30%); }
		}
	}
}

//++ Breadcrumbs (for mobile)
div.app-account-wrapper ul.breadcrumbs {
    margin: rem-calc(40) auto rem-calc(40) auto;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    li, a {
		height: rem-calc(25);
        font-size: rem-calc(22);
		letter-spacing: rem-calc(5);
        text-transform: uppercase;
        color: #fff;
    }
    li.current {
        text-transform: none;
        color: $app_secondary_color;
    }
    //as title
    &.title {
        background: transparent;
        li {
            width: 100%;
            text-align: center;
        }
        span {
            color: #fff;
            border-bottom: rem-calc(1) dotted #666;
        }
    }
}

//++ Settings
div.app-account-content div.my-account {
    max-width: rem-calc(280);
    margin: rem-calc(40) auto;
    //childs
    //form elements
    label {
        padding-bottom: rem-calc(8);
        color: #ccc;
        font-size: rem-calc(14);
        cursor: auto;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        border-radius: rem-calc(6);
        padding: rem-calc(14);
        min-height: rem-calc(48);
        background: #333;
        border-color: #121212;
        color: #fff;
        font-size: rem-calc(16);
    }
    div.button-wrapper {
        padding-top: rem-calc(30);
		//MediaQueries
		@include breakpoint(small only) {
			padding-bottom: rem-calc(30);
		}
    }
    hr { border-color: #777; }
}
