/* ---------------------------------------------------------------------------------------
	Animation SCSS rules
---------------------------------------------------------------------------------------- */

// Vars
//-----
$menu_columns: 4;

// Menu icons animation, based on foundation & scss & bourbon
// --------------------
div.menu {
    .row {
        .columns {
            .menu-link {
                @include animation(moveLeft 0.5s ease-out);
                @include animation-iteration-count(1);
                @include animation-fill-mode(forwards);
                a{
                    display: block;
                    @include animation(fadeIn 0.5s ease-out);
                    @include animation-iteration-count(1);
                    @include animation-fill-mode(forwards);
                }
            }
        }

        .columns.active{
            .menu-link{
                a{
                    display: block;
                    @include animation(fadeOut 1s ease-out);
                    @include animation-iteration-count(1);
                    @include animation-fill-mode(forwards);
                }
            }
        }

        //Column inactive class
        .columns.inactive {
            .menu-link {
                @include animation(moveRight 1s ease-out);
                @include animation-iteration-count(1);
                @include animation-fill-mode(forwards);
            }
        }

        //Column full display content class
        .columns.fullcontent {
            .content {
                @include animation(fadeIn 1s ease);
            }
        }

        //Columns inner icon hover animation
        .columns:hover {
            .bracelet.menu-link {
                span.icon {
                    @include animation(fadeDown 1s ease-in-out);
                    @include animation-iteration-count(1);
                    @include animation-fill-mode(forwards);
                }
            }
            .access.menu-link {
                span.icon {
                    @include animation(rotateRight 3s ease);
                }
            }
            .exchange.menu-link {
                span.icon {
                    @include animation(rotateRight 1.0s ease-in, rotateRight 2.0s ease);
                }
            }
            .social.menu-link {
                span.icon {
                    @include animation(scaleIn 1.0s ease-out);
                }
            }
        }

        // non-layout classes
        .fade-in {
            @include animation(fadeIn 1s ease);
        }
        .fade-out {
            @include animation(fadeOut 1s ease);
        }
    }
}