/* ---------------------------------------------------------------------------------------
	Checkout SCSS rules
---------------------------------------------------------------------------------------- */

//++ Checkout Vars
$app_checkout_width		   : rem-calc(928);
$app_table_primary_color   : scale-color(#0B0B11, $lightness: 14%);
$app_table_secondary_color : scale-color(#22252C, $lightness: 10%);

//++ Checkout
div.app-checkout-wrapper {
	padding: rem-calc(20) 0;
	//MediaQueries
	@include breakpoint(small only) {

		div.button-wrapper {
			button { max-width: rem-calc(180); }
		}
		div.checkout-objects span { font-size: rem-calc(12); }
		div.row.head { font-size: rem-calc(13); }
		span.name {
			display: inline-block;
			padding-right: rem-calc(14);
		}
		span.price {
			position:relative;
			right: rem-calc(10);
			font-size: rem-calc(13) !important;
		}
		div.ticket-resume {
			padding: rem-calc(14) rem-calc(6);
			//childs
			img { padding-bottom: rem-calc(5); }
		}
		div.checkout-objects select {
			position: relative;
			left: rem-calc(8);
		}
	}
	//childs
	> div {
		max-width: $app_checkout_width;
		margin: 0 auto;
		padding: rem-calc(20);
		@extend  %app-black-box;
	}
	div.head {
		margin-bottom: rem-calc(14);
		padding: rem-calc(8) 0;
		border-radius: rem-calc(6);
		background: #222;
		color: #666;
	}
	div.footer {
		padding: rem-calc(10) 0;
		color: #fff;
	}
	div.terms {
		margin: rem-calc(10) 0;
		font-size: rem-calc(11);
	}
	div.button-wrapper {
		margin-top: rem-calc(30);
		button {
			display: inline-block;
			max-width: rem-calc(200);
		}
	}
	span {
		&.name { color: #fff; }
	}
	select { max-width: rem-calc(80); }
	h3 { color: #fff; }
	p.title { margin-bottom: rem-calc(6); }
	p.subtitle { color: $app_primary_color; }
    div.gateways {
		padding-top: rem-calc(20);
        img { display:inline-block; }
    }
    img.checkbox {
        max-width: rem-calc(40);
        margin: rem-calc(0 10);
    }
    img.wp-icon {
        display: inline-block;
        max-width: rem-calc(120);
    }
	//ticket resume
	div.ticket-resume {
		margin-bottom: rem-calc(20);
	}
}

//Checkout, Paginas de cierre
div.app-checkout-closer {

	div.checkout-details {
		position: relative;
	}
	div.closer-link {
		padding: rem-calc(20) 0;
		> div {
			margin-top: rem-calc(10);
			a {
				display: inline-block;
				max-width: rem-calc(220);
				margin-top: rem-calc(20);
			}
		}
	}
    //++ Checkout tables
    table.checkout-table {
		margin: rem-calc(20) 0;
		max-width: rem-calc(400);
		background: transparent !important;
    	border-collapse: separate;
    	border: 0;
    	background: $app_table_primary_color;
    	border-radius: rem-calc(5);
		//childs
    	thead {
    		border-radius: rem-calc(5);
    		background: $app_table_primary_color;
    		th {
    			font-family: $app_secondary_font;
    			font-size: rem-calc(12);
    			color: #fff;
    			padding: rem-calc(10);
    			background: $app_table_secondary_color;
    			//events
    			&:first-child { border-top-left-radius : rem-calc(5); }
    			&:last-child  { border-top-right-radius: rem-calc(5); }
    		}
    	}
    	tbody {
    		tr td {
				padding: rem-calc(10);
				background: scale-color(#4a5564, $lightness: 20%);
				border-bottom: 1px solid scale-color(#4a5564, $lightness: 10%);
    			font-family: $app_primary_font;
    			color: #ddd;
    			font-size: rem-calc(12);
    		}
    		tr.marked td {
    			background: $app_table_secondary_color;
    			color: #fff;
    			font-weight: bold;
    		}
    	}
    	tbody tr:nth-child(2n) { background: scale-color(#4a5564, $lightness: -30%); }
    	tbody tr:last-child td {
    		border-bottom: none;
    		&:first-child { border-bottom-left-radius : rem-calc(5); }
    		&:last-child  { border-bottom-right-radius: rem-calc(5); }
    	}
		//MediaQueries
		@include breakpoint(small only) {
			th, td {
				padding: rem-calc(8) !important;
				font-size: rem-calc(11) !important;
			}
		}
    }
	ul {
		list-style: circle;
		b { color: #ccc; }
	}
}
