/* ---------------------------------------------------------------------------------------
	Contents SCSS rules
---------------------------------------------------------------------------------------- */

//++ Vars
$app_contents_max_width : rem-calc(920);

//++ Contents Wrapper
div.app-contents-wrapper {
	@include app-bg-cover('../images/bgs/bg-liveon-dark.jpg');
	//childs
	div.app-container div.content {
		//for contact
		max-width: $app_contents_max_width*0.8 !important;
	}
	div.content {
		max-width: $app_contents_max_width;
		margin: rem-calc(30) auto rem-calc(20) auto;
		padding: rem-calc(20);
		background: #000;
		border-radius: rem-calc(10);
		font-family: $app_secondary_font;
		color: #aaa;
	}
	img.logo {
		max-width: rem-calc(160);
	}
	h2 {
		display: inline-block;
		margin: rem-calc(20) 0;
		border-bottom: rem-calc(1) dotted #777;
		font-family: $app_secondary_font;
		font-size: rem-calc(21);
		font-weight: bold;
		color: #fff;
		&.margin-top-zero { margin-top: 0; }
	}
	h3, h4 {
		margin: rem-calc(20) 0;
		font-family: $app_secondary_font;
		font-size: rem-calc(16);
		font-weight: bold;
		color: #fff;
	}
	h4 {
		color: #ddd;
	}
	ul {
	    list-style-type: disc;
	    margin-left: rem-calc(20);
	}
	p {
		line-height: rem-calc(30);
		&.version {
			padding-top: rem-calc(16);
			color:#fff;
		}
	}
	p, li {
		span {
			color: #999;
			font-weight: bold;
		}
		span.marked { color: $app_secondary_color; }
	}
	//MediaQueries
	@include breakpoint(medium only) {
		margin-top: rem-calc(50);
		padding: rem-calc(20);
	}
	@include breakpoint(small only) {
		margin-top: rem-calc(50);
		padding: rem-calc(10);
	}
}

//++ Contact section
div.app-contents-wrapper div.contact {
	max-width: $app_contents_max_width * 0.7;
	margin: 0 auto;
	border-radius: rem-calc(12);
	//childs
	h5 {
		padding: rem-calc(24) 0;
		font-family: $app_secondary_font;
		font-size: rem-calc(22);
		color: #fff;
	}
	button {
		margin: rem-calc(16) 0;
		padding: rem-calc(8 50);
		font-size: rem-calc(16);
	}
	textarea {
		min-height: rem-calc(120);
	}
	label {
		padding: rem-calc(10 5);
		cursor: default;
	}

	/*
	&.video > div {
		background: #111 url("../images/bgs/bg-vimeo-light.png") no-repeat center center;
	}*/
}
