/* ---------------------------------------------------------------------------------------
	Error SCSS rules
---------------------------------------------------------------------------------------- */

//++ Errors Wrapper
div.app-errors-wrapper {
	padding-top: 100px; //fallback for legacy browsers, must be in px.
	@include app-fill-space($app_header_height + rem-calc(36));
	background: #111;
	//childs
	img.logo {
		max-width: rem-calc(160);
	}
	h1, h2, h3 {
		margin: 20px 0; //fallback for legacy browsers
	}
	h1 {
		margin: rem-calc(40) 0;
		font-size: rem-calc(22);
		color: #fff;
	}
	h2 {
		margin: rem-calc(20) 0;
		font-size: rem-calc(20);
		color: #fff;
	}
	h3 {
		margin: rem-calc(20) 0;
		font-size: rem-calc(16);
		color: #888;
	}
	div.error-content {
		padding: 0 rem-calc(8);
		p {
			margin-top: rem-calc(50);
			font-size: rem-calc(18);
			color: #ccc;
		}
	}
	//old browsers
	div.browsers {
		margin-top: rem-calc(40);
		div.browser-grid {
			max-width: rem-calc(660);
		}
		div {
			&.cr a { background-position: 0 0; }
			&.ff a { background-position: rem-calc(-100) 0; }
			&.op a { background-position: rem-calc(-200) 0; }
			&.sf a { background-position: rem-calc(-300) 0; }
			&.ie a { background-position: rem-calc(-400) 0; }
			&.tc a { background-position: rem-calc(-500) 0; }
		}
		a  {
			display: inline-block;
			border: 0;
		    width: rem-calc(100);
		    height: rem-calc(100);
		    background: transparent url('../images/icons/icons-browser.png') no-repeat top left;
		    opacity: 0.7;
		    &:hover  { opacity: 1; }
		    &:active { opacity: 1; }
		}
		//MediaQueries
		@include breakpoint(small only) {
			a { padding-bottom: rem-calc(120); }
		}
	}
	//legacy old-browsers
	div.browsers-legacy {
		a {
			margin: 8px; //fallback for legacy browsers
			font-size: 18px;
		}
	}
}
