/* ---------------------------------------------------------------------------------------
	EventInvitation SCSS rules
---------------------------------------------------------------------------------------- */

div.app-event-invitation-wrapper {

	div.invitation-form {
		max-width: rem-calc(280);
		margin: 0 auto;
		//MediaQueries
		@include breakpoint(medium only) {
			max-width: 80% !important;
		}
		@include breakpoint(large) {
			padding-top: rem-calc(60);
		}
		//childs
		p.instructions,
		input.code {
			text-align: center;
			text-transform: uppercase;
		}
	}
	div.app-invoice-email-box { margin-top: rem-calc(40); }
	div.button-wrapper {
		margin: rem-calc(30) auto;
		button {
			display: inline-block;
			max-width: rem-calc(200);
		}
	}
	img.exchange {
		display: inline-block;
		border-radius: rem-calc(12);
		//breakpoints
		@include breakpoint(large up) {
			min-height: rem-calc(225);
		}
	}
}
