/* ---------------------------------------------------------------------------------------
	EventField SCSS rules
---------------------------------------------------------------------------------------- */

div.app-events-fields {
    background: #fff;
    color: #777;
    border-radius: rem-calc(12);
    h5 {
        padding: rem-calc(10);
        color: #fff;
        font-size: rem-calc(14);
        background: $alert-color;
        border-top-left-radius: rem-calc(12);
        border-top-right-radius: rem-calc(12);
    }
    > div {
        padding: rem-calc(10);
    }
    input[type="text"],
    span.phone-prefix {
        display: inline-block;
        max-width: rem-calc(100);
    }
    input[type="text"] { text-align: center; }
    span.phone-prefix { padding-right: rem-calc(5); }
    div.name-wrapper { padding: rem-calc(10); }
    img.field-icon {
        max-width: rem-calc(24);
        padding-right: rem-calc(5);
    }
    p.small-print {
        color: #777;
        font-size: rem-calc(12);
        margin: 0;
    }
}
