/* ---------------------------------------------------------------------------------------
	Event SCSS rules
---------------------------------------------------------------------------------------- */
$app_ticket_detail_box_heigth : rem-calc(176);
$app_event_section_max_width  : rem-calc(760);

//++ My tickets & event-page
div.app-event-section {
    margin: rem-calc(20) auto;
    max-width: rem-calc(928);
    //MediaQueries
    @include breakpoint(medium only) {
        max-width: rem-calc(500);
		margin: rem-calc(20) auto;
    }
    //small
	@include breakpoint(small only) {
        max-width: rem-calc(320);
		margin: rem-calc(20) auto;
        padding: 0 rem-calc(5);
    }
}

//++ Event Cards blocks
div.app-event-card {
	width: $app_event_card_width;
	margin: 0 auto;
	background-color: black;
	height: rem-calc(151);
    border-radius: rem-calc(6);
    //padding-bottom: rem-calc(40);
	cursor: pointer;
	opacity: 0.95;
    &:hover { opacity: 1; }
    //MediaQueries
    @include breakpoint(large up) {
        &.single { margin: 0 auto 0 0; }
    	&.paired-1 { margin: 0 rem-calc(50) 0 auto; }
    	&.paired-2 { margin: 0 auto 0 rem-calc(50); }
    }
    //small
    @include breakpoint(small only) {
		width: auto;
		max-width: rem-calc(300);
	}
	//childs
	div {
		@include app-bg-color-opacity();
		padding: rem-calc(12 0 10 0);
		border-bottom-left-radius: rem-calc(6);
		border-bottom-right-radius: rem-calc(6);
	}
	a.button-styled {
		display: inline-block;
		position: absolute;
		width: inherit;
		//width: $app_event_card_width;
		//height: $app_event_card_width + rem-calc(40);
	}
	a.absolute {
		display: inline-block;
		position: absolute;
		width: $app_event_card_width;
		height: $app_event_card_width + rem-calc(40);
	}
	img {
		@include app-loading-image(#000, 2, rem-calc(32), rem-calc(22));
        width: 100%;
        height: rem-calc(151);
		//border-bottom: rem-calc(2) solid #FFFF09;
        border-radius: rem-calc(6);
	}
	span {
		display: block;
		font-family: $app_secondary_font;
		font-size: rem-calc(22);
		line-height: rem-calc(28);
		color: #fff;
		&.place {
			padding: rem-calc(8) 0;
			font-size: rem-calc(12);
			color: $app_primary_color;
			text-transform: uppercase;
		}
	}
	ul { margin: 0; }
	li {
		@extend %app-inline-block;
		padding: 0 rem-calc(16);
		//childs
		span {
			font-size: rem-calc(18);
			color: #999;
			&.title { font-size: rem-calc(12); }
		}
	}
	&:hover li span { color: #fff; }
    /* event state */
    &.inactive {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
	/* ticket */
	&.ticket {
    	//childs
	    div { padding: rem-calc(12 0); }
	    li { padding: 0 rem-calc(18); }
	    //see more button
	    div a {
	    	position: relative;
	        top: rem-calc(10);
	        left: rem-calc(6);
	    }
	    div button {
            @extend %app-button-small;
            margin-top: rem-calc(11);
            background: $app_secondary_color;
            //&:hover { background: scale-color($app_secondary_color, $lightness: -20%); }
	    }
	}
}

//++ Ticket wrapper block
div.app-event-wrapper {
	//border radius in bg
	border-radius: rem-calc(10);
	overflow-x: hidden;
    //MediaQueries
    @include breakpoint(large up) {
		div.head { padding: rem-calc(20); }
		div.head-box {
			height: $app_ticket_detail_box_heigth;
		}
        //fallback temporal para ticket con nombres grandes
    	h4 span {
    		max-width: rem-calc(276);
    		overflow-x: hidden;
    		white-space: nowrap;
    		text-overflow: ellipsis;
    	}
		//layout fixes
		div.poster-wrapper { padding-right: rem-calc(10) !important; }
    }
    //medium
    @include breakpoint(medium only) {
		margin: rem-calc(20) auto;
        //childs
		div.head {
			padding: rem-calc(20 5 5 5);
			//sub-childs
            div.app-left { padding-left: rem-calc(10); }
			div.super-row { padding: 0 !important; }
			div.brief-wrapper { margin-top: rem-calc(20); }
		}
		div.info-wrapper { padding: rem-calc(0 10 14 10); }
		div.top-img-wrapper {
			margin-bottom: rem-calc(20);
			img { width: 94%; }
		}
		div.ticket-box { margin-top: rem-calc(20); }
		div.qr-box { height: auto; }
    }
    //small
    @include breakpoint(small only) {
		margin: rem-calc(20) auto;
		//childs
		div.head {
			padding: rem-calc(15 5 5 5);
			//sub-childs
			div.app-left { padding-left: rem-calc(10); }
			div.super-row { padding: 0 !important; }
			div.brief-wrapper { margin-top: rem-calc(20); }
		}
		div.head-box li {
			&.last-caption span {
				float: left;
				max-width: rem-calc(200);
			}
			span {
				@extend %app-text-overflow-hidden;
				max-width: rem-calc(185);
			}
		}
		div.info-wrapper { padding: rem-calc(0 10 10 10); }
		div.top-img-wrapper {
			img { max-width: 92%; }
		}
		div.ticket-box { margin-top: rem-calc(20); }
		div.qr-box { height:auto; }
		div.sub-menu.space-bottom { margin-bottom: rem-calc(10); }
	}
	//sub-classes
	div.opaque {
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.90);
	}
	div.head {
		min-height: inherit;
		position: relative;
		border-radius: rem-calc(10);
		&.united {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		//childs
		div.super-row { padding-left: rem-calc(10); }
		div.app-right { padding-left: rem-calc(10); }
	}
	div.brief-wrapper {
		position: relative;
		margin: rem-calc(10 0 0 0);
		div.button-wrapper {
			max-width: rem-calc(280);
			margin: 0 auto;
			padding: rem-calc(40 0 20 0);
			div.terms {
				margin: rem-calc(10) 0;
				font-size: rem-calc(12);
				color: #fff;
			}
		}
		//special cases
		> div.event-closed,
		> div.event-finished {
			div.button-wrapper {
				max-width: 100%;
				padding: rem-calc(22);
				background: rgba(255,255,255, 0.5);
				p {
					color: #ededed;
					margin: 0;
				}
			}
		}
	}
    //event ticket description
	div.head-box {
		overflow-y: hidden;
		//items
		ul {
			margin: 0;
			list-style-type: none;
		}
		li {
			padding: rem-calc(11 4 11 11);
			color: #fff;
			&.last { padding-bottom: 0; }
			&.last-caption {
				padding-top: rem-calc(3);
				padding-bottom: 0;
			}
			> span {
				display: inline-block;
				width: rem-calc(202);
				@extend %app-text-overflow-hidden;
			}
			img {
				@extend %app-inline-block;
				max-width: rem-calc(25);
				margin-right: rem-calc(8);
			}
			span.caption {
				display: inline-block;
				box-sizing: border-box;
				width: 100%;
				padding: rem-calc(3 0 3 30);
				color: #888;
				font-size: rem-calc(11);
				line-height: rem-calc(14);
			}
		}
		button {
			max-width: rem-calc(220);
			margin: 0 auto;
		}
		span.space {
			display: block;
			height: rem-calc(26);
		}
	}
	//divider & submenu
	div.divider-wrapper { padding: rem-calc(0 20 14 20); }
	div.sub-menu {
		margin-top: rem-calc(15);
		padding: rem-calc(6) rem-calc(10);
		background-color: #ededed;
		background-color: rgba(255, 255, 255, 0.20);
		color: #fff;
		border-radius: rem-calc(6);
		&.divider { margin: 0 auto !important; }
		//sub-childs
        div.last { padding-right: rem-calc(8); }
		img {
			max-width: rem-calc(25);
			margin-right: rem-calc(2);
		}
		li { padding: 0; }
		li:hover img { opacity: 0.3; }
        li.disabled {
            a { color: #777; }
            img { opacity: 0.6; }
        }
		a {
			color: #ededed;
			font-size: rem-calc(14);
			text-transform: uppercase;
			&:hover { color: #777; }
			span {
				position: relative;
				top: rem-calc(1);
			}
		}
	}
	//event description
	div.event-body {
		min-height: rem-calc(100);
		padding: rem-calc(0 20 20 20);
 		border-radius: rem-calc(10);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		color: #fff;
		div.rich-content { padding: rem-calc(10) 0; }
		h4 { color: #fff; }
	}
	div.top-img-wrapper {
		margin-bottom: rem-calc(10);
		img { border-radius: rem-calc(10); }
	}
	img.square {
        margin: 0;
		width: rem-calc(300);
        height: rem-calc(300);
        @include app-loading-image(#000, 1, rem-calc(24), rem-calc(24));
        border-radius: rem-calc(10);
	}
	img.large {
        margin: 0;
		width: rem-calc(600);
        height: rem-calc(300);
        @include app-loading-image(#000, 1, rem-calc(24), rem-calc(24));
        border-radius: rem-calc(10);
	}
	p.subtext {
		margin: rem-calc(30) auto 0 auto;
		color: $app_secondary_color;
	}
	p.price {
		margin-top: rem-calc(20);
		color: #fff;
		&.green { color: $app_secondary_color; }
	}
	//tables
	div.table {
		color: #fff;
		div.row { padding: rem-calc(10) 0; }
		div.styled { border-top: 1px solid #333; }
		div.icon-wrapper { max-width: rem-calc(40); }
		span.icon {
			@extend %app-inline-block;
			max-width: rem-calc(50);
			padding-top: rem-calc(3);
			i {
				display: inline-block;
				width: rem-calc(20);
				height: rem-calc(20);
				border-radius: 50%;
				&.circle-1 { background: #E9D70D; }
				&.circle-2 { background: #4A00E8; }
				&.circle-3 { background: #AF0000; }
				&.circle-4 { background: #3AAFFC; }
				&.circle-5 { background: #F63AFC; }
				&.circle-6 { background: #FC953A; }
				&.circle-7 { background: #8E3AFC; }
				&.circle-8 { background: #3AFC6E; }
			}
		}
		div.soldout,
        div.closed {
			span.name  { color: #999; }
			span.value {
				color: #999;
				text-decoration: line-through;
			}
		}
	}
}
