/* ---------------------------------------------------------------------------------------
	Functions SCSS
---------------------------------------------------------------------------------------- */
// Max breakpoint
$max-breakpoint: 1352;

@warn $grid-row-width * 16;

// This could be one of your media query breakpoint variables
$wide-screen: "(min-width: #{$max-breakpoint}px)";

// Function
@function get-vw($target) {
    // 1 vw is equal to 1% of the viewport width
    $vw-context: ($max-breakpoint * .01) * 1px; // 1% viewport width
    @return ($target/$vw-context) * 1vw;
}

// Mixin
@mixin vw($size) {
    font-size: get-vw($size);
    // Prevent font-size from getting too big
    @media #{$wide-screen} {
        font-size: $size;
    }
}