/* ---------------------------------------------------------------------------------------
	Index pages SCSS rules
---------------------------------------------------------------------------------------- */

//++ Index Wrapper
div.app-index-wrapper {
	//@include app-bg-cover("../images/bgs/bg-event-main-1.jpg?v=0.0.2", fixed, ".jpg");
	//childs
	section {
		//opacity: 0;
	}
	//++ Intro section
	section.intro {
		//childs
		h1, h2 {
			margin: rem-calc(2);
			color: #fff;
			text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
		}
		h1 {
			font-size: rem-calc(58);
		}
		h2 {
			font-size: rem-calc(24);
			font-family: $app_secondary_font;
		}
		button {
			margin: rem-calc(40) 0 0 0;
			padding: rem-calc(10 70);
			font-size: rem-calc(20);
		}
		p {
			color: #fff;
			margin: rem-calc(10) 0 0 0;
			font-size: rem-calc(20);
			font-family: $app_secondary_font;
		}
	}


    //++ Event section
    section.events {
        padding-top: rem-calc(40);
        //padding-bottom: 5%;
        width: 100%;
    }
    div.events-cards-wrapper {
        //opacity:0;
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(120);
        width: 100%;
        background-image: url("../images/bgs/special-gradient.png");
    }
    h2.subtitle {
        opacity: 0;
        padding: rem-calc(10 0 100 0);
        font-size: rem-calc(40);
        font-family: $app_secondary_font;
        color: #fff;
    }
    //Media Queries
    @include breakpoint(small only) {
        //childs
        section.intro {
            h1 { font-size: rem-calc(32); }
        }
        h2.events-title {
            padding: rem-calc(50) 0;
            font-size: rem-calc(32);
        }
        div.events-cards-wrapper { padding-bottom: rem-calc(60); }
    }

    div.sections{
        position: relative;
    }


    /*************************/
    /** New Home Page Rules **/
    div.page{
        position: relative;
        overflow: hidden;
        //++ Event section override

        // father of section.events node override
        div.events-cards-wrapper {
            padding: 0; //override
            position: absolute;
            bottom: 0;
            section.events {
                max-height: rem-calc(162);
                padding: rem-calc(6 0);
                background-color: rgba(44, 44, 44, 0.9);
                position: relative;
                //cards override
                div.app-event-card-holder{
                    //max-width: $app_event_card_width + rem-calc(4); // padding grid included
                    max-width: 20%; // padding grid included
                    overflow: hidden;
                }
            }
        }
    }

    // Page division, Accordion Menu
    div.page.menu{
        .row {
            overflow: hidden;
            position: relative;
            .columns {
                // Columns backgrounds
                .bracelet .content {
                    background-image: linear-gradient(180deg, #4f58e1 0%, #1c1c1c 100%);

                    img.content-image {
                        padding: rem-calc(294 0 210 0);
                        max-width: rem-calc(938);
                    }
                }
                .access .content {
                    background-image: linear-gradient(180deg, #b1323d 0%, #1c1c1c 100%);

                    img.content-image {
                        padding: rem-calc(0 0 56 0);
                        max-width: rem-calc(346);
                    }
                }
                .exchange .content {
                    background-image: linear-gradient(180deg, #558e19 0%, #1c1c1c 100%);

                    img.content-image {
                        padding: rem-calc(52 0 56 0);
                        max-width: rem-calc(214);
                    }
                }
                .social .content {
                    background-image: linear-gradient(180deg, #cf2bc7 0%, #1c1c1c 100%);

                    img.content-image {
                        padding: rem-calc(0 0 54 0);
                        max-width: rem-calc(171);
                    }
                }

                //Column position
                .content {
                    position: absolute;
                    width: calc(100% * 3); //estimate column width
                    padding: rem-calc(55 54 55 35);
                    height: 100%;
                    top: 0;
                    left: 100%;
                    z-index: 1;
                    color: white;
                    display: none;
                    cursor: default;

                    span.content-close {
                        display: block;
                        text-align: right;
                        img {
                            cursor: pointer;
                        }
                    }
                    div.content-info {
                        text-align: right;

                        //text box
                        & div.column:first-child {
                            padding-left: rem-calc(29);
                        }

                        & h3 {
                            font-size: get-vw(30px);
                            font-weight: 400;
                        }

                        & p {
                            font-size: get-vw(15px);
                            font-weight: 300;
                            line-height: rem-calc(18);
                            margin-bottom: 2rem;
                        }
                        & h3, p {
                            text-align: left;
                        }
                        & img {
                            margin-left: rem-calc(22);
                        }
                    }
                }

                .right .content {
                    left: -100% * 3;
                }

                .menu-link {
                    position: relative;
                    visibility: visible;
                    width: 100%;
                }
            }

            //Column active class
            .columns.active {
                .menu-link {
                    opacity: 1;
                    z-index: 2;
                    position: relative;
                }
                .content {
                    display: block;
                }
            }

            //Column inactive class
            .columns.inactive {
                .menu-link {
                    z-index: 0;
                    opacity: 0.5;
                    position: relative;
                }
            }
        }

        div.menu-link{
            max-height: rem-calc(760);
            width: rem-calc(342);
            padding: rem-calc(362 0 275 0);
            text-align: center;

            h2,h3{
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                color: white;
                font-family: $app_tertiary_font;
            }
            h2{
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
            }
            h3{
                font-size: 23px;
                font-weight: 400;
                line-height: 31px;
            }
            span.icon{
                display: block;
                margin: auto;
            }
            .menu-link a{
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        //menu style: bracelet
        div.bracelet{
            background-image: url("../images/bgs/bg-bracelet-menulink.jpg");
            background-repeat: no-repeat;

            //icon
            span.icon{
                width: rem-calc(145);
                height: rem-calc(127 );
                background-image: url("../images/icons/icon-bracelet-big.png");
                background-repeat: no-repeat;
            }
        }

        //menu style: access
        div.access{
            background-image: url("../images/bgs/bg-access-menulink.jpg");
            background-repeat: no-repeat;

            //icon
            span.icon{
                width: rem-calc(128);
                height: rem-calc(131);
                background-image: url("../images/icons/icon-access-big.png");
                background-repeat: no-repeat;
            }
        }

        //menu style: exchange
        div.exchange{
            background-image: url("../images/bgs/bg-exchange-menulink.jpg");
            background-repeat: no-repeat;

            //icon
            span.icon{
                width: rem-calc(128);
                height: rem-calc(128);
                background-image: url("../images/icons/icon-exchange-big.png");
                background-repeat: no-repeat;
            }
        }

        //menu style: social
        div.social{
            background-image: url("../images/bgs/bg-social-menulink.jpg");
            background-repeat: no-repeat;

            //icon
            span.icon{
                width: rem-calc(145);
                height: rem-calc(127 );
                background-image: url("../images/icons/icon-social-big.png");
                background-repeat: no-repeat;
            }
        }
	}
}

footer{
    position: relative;
}
