/* ---------------------------------------------------------------------------------------
	Animation Keyframes SCSS
---------------------------------------------------------------------------------------- */

//move to left
@include keyframes(moveLeft) {
    from {
        @include transform(translateX(rem-calc(338)));
        visibility: hidden;
        opacity: 0;
    }
    to {
        @include transform(translateX(rem-calc(0)));
        opacity: 1;
        visibility: visible;
    }
}

//move to right
@include keyframes(moveRight) {
    from {
        @include transform(translateX(rem-calc(0)));
        opacity: 0.5;
        visibility: visible;
    }
    to {
        @include transform(translateX(rem-calc(338)));
        visibility: hidden;
        opacity: 0;
    }
}

//fade in from left (columns:hover)
@include keyframes(fadeRight) {
    from {
        opacity: 1;
        width: 25%;
    }
    to {
        width: 100%;
        opacity: 0;
    }
}

//fade in from up
@include keyframes(fadeDown) {
    from {
        @include transform(translateY(rem-calc(-20)));
        opacity: 0;
    }
    to {
        @include transform(translateY(0));
        opacity: 1;
    }
}

//scale in
@include keyframes(scaleIn) {
    from {
        @include transform(scale(1));
    }
    to {
        @include transform(scale(1.1));
    }
}

//scale out
@include keyframes(scaleOut) {
    from {
        @include transform(scale(1.1));
    }
    to {
        @include transform(scale(1));
    }
}

//rotate right
@include keyframes(rotateRight) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

//fade out
@include keyframes(fadeOut) {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

//fade in
@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}