/* ---------------------------------------------------------------------------------------
	Layout SCSS rules
---------------------------------------------------------------------------------------- */

/* Wrappers
---------------------------------------------------------------------------------------- */

html, body { background-color: #222;}

body {
	height: 100%;
}

//root body wrapper
#wrapper {
	height: 100%;
	//padding-bottom: $app_footer_height + $app_body_bottom_padding; //consider footer height
	////childs
	//> div {
	//	display: table;
	//	width: 100%;
	//	height: 100%;
	//	//padding-bottom: $app_body_bottom_padding; //space between content & footer
	//}
}

//full space
.app-container-wrapper {
	//@include app-fill-space($app_header_height);

	//Fullscreen Video Rules
	div#bg-video{
		position: absolute;
	}
	video{
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-60%);
		background: #000;
		background-size: cover;
		z-index: 0;
	}
}

//content
.app-container {
	display: table-cell;
    vertical-align: middle;
}

/* Header
---------------------------------------------------------------------------------------- */
header {
	display: block;
	background: transparent;
    height: $app_header_height;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
	&.dark {
		@include app-bg-color-opacity(0, 0.95);
	}
	> nav {
		height: rem-calc(57);
		background-position: top left;
		//childs
		> div {
			@extend %app-inline-block;
            //height: $app_header_height;
            padding: rem-calc(14 20) 0;
		}
        img { display: inline-block; }
		//header logo
		div.app-left {
			width: 60%;
            padding-left: rem-calc(20);
			img {
				max-width: rem-calc(160);
			}
		}
		div.app-right {
            padding-right: rem-calc(20);
			width: 40%;
		}
		a:hover { opacity: 0.9; }
		a.sign-up { color: #fff; }
		a.sign-in {
			color: $app_secondary_color;
			margin: 0 rem-calc(26);
		}
	}
    div.logged-out {
        //login controls
        img {
            max-width: rem-calc(32);
            margin-right: rem-calc(8);
        }
    }
	div.logged-in {
        //menu icon
		img {
			position: relative;
			top: rem-calc(2);
            max-width: rem-calc(20);
		}
        span.icon-menu-wrapper {
            margin: rem-calc(0 22 0 12);
        }
		span.app-user-name {
			color: #fff;
            position: relative;
            top: rem-calc(4);
		}
		a:hover span { color: $app_secondary_color; }
	}
	//logged-in submenu
	div.submenu {
		@extend %app-inline-block;
		margin-left: rem-calc(24);
		position: relative;
		top: rem-calc(2);
		//childs
		> div { min-width: rem-calc(80); }
		a {
		    font-size: rem-calc(14);
		    color: #fff;
			white-space: nowrap;
		    &:hover, &.active {
		    	border-bottom: rem-calc(2) solid $app_secondary_color;
		    }
		}
	}
	//MediaQueries
	@include breakpoint(medium down) {
		@include app-bg-color-opacity();
		a.sign-in { margin: 0 rem-calc(20) !important; }

	}
	@include breakpoint(small only) {
		//childs
		div.app-left img { margin-left: rem-calc(20) !important; }
	}
}

/* App menu */
div#app-header-menu {
	display: none;
	width: rem-calc(230);
	height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.70);
	//childs
    div.menu-content {
        height: 100%;
    }
	div.user-info {
		background: #000;
		padding: rem-calc(34 14 10 14);
		//sub-childs
		div.app-user-name {
			//@extend %app-inline-block;
			@extend %app-text-overflow-hidden;
			width: rem-calc(210);
            text-align: center;
			color: #fff;
            margin-top: rem-calc(20);
            font-size: rem-calc(20);
		}
		img.close {
			position: relative;
			top: rem-calc(-16);
            right: rem-calc(-175);
			max-width: rem-calc(20);
			cursor: pointer;
		}
	}
	//side-nav
	ul {
		margin-top: rem-calc(12);
		//childs
		li:hover {
			background: #fff;
			a { color: #000; }
		}
		a {
            display: inline-block;
            width: 100%;
            height: rem-calc(55);
			color: #fff;
		}
		span {
			position: relative;
		    top: rem-calc(8);
            display: inline-block;
            width: rem-calc(130);
            font-size: rem-calc(16);
		}
		i {
			position: relative;
		    top: rem-calc(-4);
		    display: inline-block;
		    width: rem-calc(42);
		    height: rem-calc(42);
            float: right;
		    @include app-bg-image-retina('../images/icons/icons-menu', 'png', rem-calc(84), rem-calc(252), '0.4');
		}
		//bgs
        a.profile i { background-position: 0 rem-calc(-0); } a.profile:hover i { background-position: rem-calc(-42) rem-calc(-0); }
		a.socials i{ background-position: 0 rem-calc(-42); } a.socials:hover i { background-position: rem-calc(-42) rem-calc(-42); }
		a.tickets i { background-position: 0 rem-calc(-84); } a.tickets:hover i { background-position: rem-calc(-42) rem-calc(-84); }
        a.help i { background-position: 0 rem-calc(-126); } a.help:hover i { background-position: rem-calc(-42) rem-calc(-126); }
        a.logout i { background-position: 0 rem-calc(-168); } a.logout:hover i { background-position: rem-calc(-42) rem-calc(-168); }
        a.invitations i { background-position: 0 rem-calc(-210); } a.invitations:hover i { background-position: rem-calc(-42) rem-calc(-210); }
	}
	//MediaQueries
	@include breakpoint(medium down) {
		background-color: rgb(0, 0, 0);
		div.menu-content {
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}

/* Footer
---------------------------------------------------------------------------------------- */
footer {
	display: block;
    min-height: $app_footer_height + rem-calc(10);
	background: $app_body_bg_color;
	text-align: right;
	//childs
	ul {
		display: inline-block;
		margin: rem-calc(10 20 10 0);
		&.centered { margin: rem-calc(10) auto; }
	}
	li {
		display: inline-block;
		&.dot {
			padding: 0 rem-calc(8);
			font-size: rem-calc(10);
			color: #999;
		}
	}
	a, span {
		font-size: rem-calc(12);
		color: #ddd;
		text-transform: uppercase;
	}
	a.marked {
		color: $app_secondary_color;
		&:hover { color: #fff; };
	}
	strong { color: #666; }
    //for mobile
    div.stack {
        div {
            padding: rem-calc(8) 0;
            text-align: center;
        }
        a, span { font-size: rem-calc(13); }
    }
}
//for legacy browsers
div.app-footer-legacy {
    //no rem for legacy browsers, use px unit instead
    height: 40px !important;
	padding: 10px;
	color: #ddd;
	span { color: $app_secondary_color;}
}
