/* ---------------------------------------------------------------------------------------
	External Plugins SCSS rules
---------------------------------------------------------------------------------------- */

//++ Core Message notifications
.app-alert {
	width: 100%;
	margin: 0;
	padding: rem-calc(18);
	border: 0 !important;
	border-radius: 0 !important;
	font-size: rem-calc(14) !important;
	//customized alerts
	&.success {
		background: rgba(107, 176, 13, 0.9);
		a { color: #F0EC05; }
	}
	&.info {
		background: rgba(72, 38, 201, 0.9);
		a { color: #F0EC05; }
	}
	&.alert {
		background: rgba(201, 44, 38, 0.9);
		a { color: #F0EC05; }
	}
	&.warning {
		background: rgba(201, 81, 38, 0.9);
		a { color: #F0EC05; }
	}
	&.secondary {
		background: rgba(38, 158, 201, 0.9);
		color: $white;
		a { color: #F0EC05; }
	}
	//childs
	div.holder { position: relative; }
	a.close {
		position: absolute;
		top: rem-calc(-10);
		right: 0;
		background: transparent !important;
		color: $white !important;
		font-size: rem-calc(16);
	}
	div.content {
		display: table;
		padding-right: rem-calc(20);
		> span {
			display: table-cell;
			vertical-align: middle;
			color: $white;
			&.icon-wrapper { width: rem-calc(35); }
			&.text { padding-left: rem-calc(16); }
            .marked { color: $app_secondary_color; }
		}
		i {
		    display: table-cell;
		    width: rem-calc(35);
		    height: rem-calc(35);
		    padding-right: rem-calc(10);
		    @include app-bg-image-retina('../images/icons/icons-notifications', 'png', rem-calc(35), rem-calc(175));
			background-repeat: no-repeat;
		    &.icon-ok 		 { background-position: 0 0; }
		    &.icon-info 	 { background-position: 0 rem-calc(-35); }
		    &.icon-warning 	 { background-position: 0 rem-calc(-70); }
		    &.icon-alert 	 { background-position: 0 rem-calc(-105); }
		    &.icon-secondary { background-position: 0 rem-calc(-140); }
		}
	}
}

//++ Core Loading alert
div#app-loading {
	display: none;
	padding: rem-calc(14 20);
	background: $app_secondary_color;
	border-radius: rem-calc(12);
	color: $white;
	font-size: rem-calc(12);
	text-align: center;
	z-index: 9999;
}

//++ Modality Dialogs
div.modality-dialog {
	max-width: rem-calc(400);
	//childs
	div.box {
		border-radius: rem-calc(8);
		padding-bottom: rem-calc(24);
		//border: rem-calc(4) solid #666;
		background: #000;
		color: $white;
	}
	div.header {
		margin: 0;
		padding: rem-calc(6);
		background: #262626;
		text-align: center;
		font-size: rem-calc(22);
		border-radius: rem-calc(5 5 0 0);
	}
	div.body {
		padding: rem-calc(40 20 30 20);
		font-size: rem-calc(18);
		text-align: center;
		overflow: hidden;
	}
	div.footer {
		padding: rem-calc(6 10);
		//background: #efefef;
		//border-top: 1px solid #cacaca;
		text-align: center;
		border-radius: rem-calc(0 0 5 5);
	}
	button {
		display: inline-block;
		min-width: rem-calc(100);
		margin: rem-calc(2) 0;
		padding: rem-calc(10 12);
		border-radius: rem-calc(20);
		background-color: $white;
		color: #474747;
		font: $app_secondary_font;
		font-size: rem-calc(18);
		cursor: pointer;
		&:hover {
			background-color: #333;
			color: $white;
		}
		&.button-0 {
			margin-right: rem-calc(50);
			background: $app_secondary_color;
			color: $white;
			&:hover { background-color: #333; }
		}
		&.button-2 { margin-left: rem-calc(50); }
	}
	//item list
	div.modal-list-item {
		margin-top: rem-calc(20);
		padding-left: rem-calc(60);
		color: #999;
		font-size: rem-calc(13);
		text-align: left;
		&:before { content: "- "; }
		span {
			padding-left: rem-calc(10);
			color: #8ec60a;
		}
	}
	//MediaQueries
	@include breakpoint(small only) {
		button.button-0 {
			margin-right: rem-calc(15);
		}
		button.button-1 {
			margin-left: rem-calc(15);
		}
		div.modal-list-item { padding-left: rem-calc(20); }
	}
}
