/* ---------------------------------------------------------------------------------------
	Styles for page printing, use px as unit.
---------------------------------------------------------------------------------------- */

//Media for Print
@media print {
    //general
    body {
        padding: 10;
        > div {
            margin: 0;
            padding-top: 100px;
        }
    }
    header { display: none; }
    footer { display: none; }
    //classes
    div.checkout-details {
        page-break-before: always;
        //childs
        > div { margin-bottom: 50px; }
        table { margin-top: 10px; }
    }
    .app-print-only { display: block; }
    div.app-checkout-closer  div.closer-link { display:none; }
    p.succes-message { display: none; }

}
