/* ---------------------------------------------------------------------------------------
	Ticket Transfers SCSS rules
---------------------------------------------------------------------------------------- */

//ticket holder
div.tickets-blocks-holder {
	padding: rem-calc(30) 0;
}

//my tickets detail
div.app-event-wrapper {

	//++ Ticket list
	div.tickets-list {
		//Media Queries
		@include breakpoint(small only) {
			h4 { font-size: rem-calc(18); }
		}
		//childs
		h4 {
			margin-bottom: rem-calc(2);
		}
		strong {
			display: inline-block;
			padding-right: rem-calc(5);
			color: #ccc;
		}
		div.ticket-category {
			margin-bottom: rem-calc(24);
			padding: rem-calc(10) 0;
			> div:nth-of-type(1) div.row { border: 0; }
		}
		div.ticket-row {
			padding-left: rem-calc(5);
			padding-right: rem-calc(5);
			&.active {
				background: #ADA505;
				button.app-btn-small:not(.rightest) { background: scale-color(#ADA505, $lightness: +10%); }
				//assets anchor
				a.app-see-more { color:scale-color(#ff0000, $lightness: +10%); }
				//assets owned
				div.assets-owned { color: #ddd; }
			}
		}
		div.transfer-status {
			table {
				margin: 0;
				border: 0;
				width: 94%;
				background: transparent !important;
				border-spacing: 0;
   				border-collapse: collapse;
				td {
					vertical-align: top;
					text-align: left;
					padding: rem-calc(5);
					border: 0;
				}
				td:nth-of-type(1) { width: rem-calc(30); }
			}
			span {
				font-size: rem-calc(16);
				color: #fff;
			}
			i {
				display: block;
				padding-top: rem-calc(5);
				font-size: rem-calc(14);
				color: scale-color(#ADA505, $lightness: -50%);
			}
		}
	}
	//++ Form Transfer
	div.form-transfer-wrapper {
		//display: none;
		padding: rem-calc(20);
		background: #fff;
		//MediaQueries
		@include breakpoint(medium only) {
			padding: rem-calc(5);
			h5 { font-size: rem-calc(16); }
			h6.subheader { font-size: rem-calc(14); }
			div.instructions p { font-size: rem-calc(14); }
		}
		//small
		@include breakpoint(small only) {
			padding: rem-calc(5);
			//childs
			h5 { font-size: rem-calc(14); }
			h6.subheader { font-size: rem-calc(12); }
			div.transfer-form-col { padding-top: rem-calc(30); }
			div.instructions p { font-size: rem-calc(13); }
		}
		//childs
		h5 {
			font-size: rem-calc(20);
			color: #5D5D5D;
		}
		p {
			margin-bottom: 0;
			color: #5D5D5D;
		}
		input {
			padding: rem-calc(6 12);
			font-size: rem-calc(12);
		}
		select {
			margin: rem-calc(12) 0 rem-calc(16) 0;
			color: #aaa;
			&.gender {
				width:100%;
				margin: 0;
			}
		}
		button.margin-top { margin-top: rem-calc(20); }
		h6.subheader {
			font-size: rem-calc(14);
			color: #888;
		}
		div.instructions { padding-top: rem-calc(10); }
		div.birthday-wrapper { margin: rem-calc(10) 0; }
	}
	//++ Button wrappers
	div.btn-blocks-wrapper {
		max-width: rem-calc(270);
		margin: 0 auto;
	}
	//MediaQueries
	@include breakpoint(medium only) {
		div.controls-wrapper {
			position: relative;
			padding-bottom: rem-calc(44);
		}
		button.app-btn-small.last {
			position: absolute;
			width: rem-calc(206) !important;
			top: rem-calc(44);
			right: rem-calc(8);
		}
	}
	//small
	@include breakpoint(small only) {
		div.controls-wrapper {
			margin-top: rem-calc(14);
			padding-bottom: rem-calc(10);
		}
		//childs
		button.extended { margin-right: 0 !important; }
		button.rightest {  margin-left: rem-calc(4) !important; }
		button.app-btn-small.last {
			position: relative;
			width: rem-calc(200) !important;
			top: rem-calc(10);
			right: rem-calc(0);
		}
	}
}

//ticket modal
div.ticket-modal-wrapper {
	//MediaQueries
	@include breakpoint(small only) {
		padding: rem-calc(10);
		> div { padding-top: rem-calc(40); }
		img { width: 100%; }
	}
	//childs
	h3 {
		font-size: rem-calc(22);
		color: #666;
	}
	h4 { font-size: rem-calc(16); }
	img {
		@include app-loading-image(#fff, 2, rem-calc(32), rem-calc(22));
		margin: 0 auto;
		width: rem-calc(316);
		height: rem-calc(316);
	}
}
