/* App mailing styles */

$app_primary_color  : #85C11E;
$app_success_color  : #e6fbe5;
$app_info_color     : #cfeefc;
$app_notice_color   : #f0da4a;
$app_facebook_color : #354E91;

h1 {
	font-size: 24px;
}

a {
    color: $app_primary_color;
    text-decoration: none;
	&.gray { color: #777; }
    &:visited, &:active { color: $app_primary_color; }
    &:hover { color: scale-color($app_primary_color, $lightness: -30%) !important; }
}

table.button td a, table.tiny-button td a, table.small-button td a, table.medium-button td a, table.large-button td a {
   display: block !important;
}
table.button td, table.tiny-button td, table.small-button td, table.medium-button td, table.large-button td {
   -webkit-transition: all 225ms ease;
   -moz-transition: all 225ms ease;
   transition: all 225ms ease;
}

img {
   &.margin-top { margin-top: 6px; }
}

/* helpers */

.text-center { text-align: center; }
.border-top { border-top: 1px solid #ddd; }
.app-name { color: #333; }
.fb-bg-color { background-color: #354E91 !important; }
/* theme */

table.button {
   margin-top: 10px;
   td {
       background: $app_primary_color;
       border-color: scale-color($app_primary_color, $lightness: -5%);
   }
   td:hover {
       background: scale-color($app_primary_color, $lightness: -50%) !important;
   }
};

.panel.success,
table.success td {
   background: $app_success_color;
   border-color: scale-color($app_success_color, $lightness: -10%);
}
.panel.info,
table.info td {
   background: $app_info_color;
   border-color: scale-color($app_info_color, $lightness: -10%);
}
.panel.notice,
table.notice td {
   background: $app_notice_color;
   border-color: scale-color($app_notice_color, $lightness: -10%);
}

.panel.facebook,
table.facebook td {
   background: $app_facebook_color;
   border-color: scale-color($app_facebook_color, $lightness: -10%);
}

//event details
table.event {
   td { padding: 10px 0; }
	img {
		width: 25px;
		height: 25px;
	}
	span {
		font-size: 16px;
		&.name { font-size: 16px; }
		&.symbol {
			font-size: 13px;
			color: #666;
		}
      &.caption {
         color: #666;
         a { font-size: 12px; }
   		&.gray a { color: #666; }
   	}
	}
}
